.header {
  background-position: top;
}
.header .header-content .header-title {
  font-size: calc(5px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1;
}
.about-section .about-card {
  margin-top: 20px;
}